.book-card {
    display: flex;
    gap: 50px;
    width: 500px;
    height: 300px;
    padding: 20px;
    border: 2px solid black;
    position: relative;
}

.book-cover {
    height: 250px !important;
}

.book-info {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 100%;
}

.book-review {
    /* justify-self: flex-end; */
}

.book-delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
}